@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: #111111;
    color: #ffff;
}
.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-style: italic;
  }  

/* shared style */
.text-primary{
    color: #E6533C;
}
.main-content{
    background-color: rgb(0, 0, 0);
}

/* navbar */
.nav-title{
    font-size: 1.75rem;
    font-weight: bolder;
    font-style: italic;
}
.menu-icon, .menu-checkbox {
    display: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.nav-items{
    list-style: none;
}
.nav-lists{
    display: flex;
    gap: 35px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 27px;
    padding: 9px;
}
#navlu{
    border: 2px solid #E6533C;
    border-radius: 30px;
    padding: 6px 14px 6px 14px;
    background-color: #E6533C;
    color: white;
    font-weight: 500;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
}

.navbar, .banner{
    max-width: 1640px;
    margin:0 auto;
    background-color: #1b1b1b;
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px; */
}
.banner-content{
    max-width: 400px;
    padding-left: 60px;
}
.banner-title{
    font-size: 4.0rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
.shape{
    font-family: cursive;
    font-style: italic;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.overlay-box {
    position: absolute;
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: left;
}
#workout{
    font-weight: 200;
    color:#FFFFFFA6;
}
#video{
    font-weight: 200;
    color:#FFFFFFA6;
}
.overlay-top-right {
    top: 270px;
    right: 140px;
    background-color: rgba(50, 50, 50, 0.7);
}
.overlay-bottom-left {
    bottom: 100px;
    left: 970px;
    background-color:  rgba(50, 50, 50, 0.7);
}
.btn-primary{
    border: 2px solid #E6533C;
    border-radius: 30px;
    padding: 8px 17px 8px 17px;
    background-color: #E6533C;
    color: white;
    font-weight: 500;
}
#btnn{
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
}
/* habits */
.Habits{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.habit-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 5px; */
    /* flex-wrap: wrap;
    /* margin: 0 auto; */
}
.circle-image{
    width: 150px; /* Adjust size as needed */
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
    display: inline-block;
}
.circle-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.habit{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    text-align: center;
    align-items: center;
}
.habit-title{
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    padding-top: 20px;
    align-items: center;
    margin-bottom: 15px;
}
.habit-pr{
    align-items: center;
    font-size: 0.7rem;
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.5);
}
.image-title{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}
.image-pr{
    font-size: 0.75rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0px;
    margin-bottom: 20px;
}

/* run extra */

.mile-run{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    padding: 40px 50px 40px 50px;
    border-radius: 15px;
    width: 70%;
    margin: 20px auto;
}
.extra-run{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.Run-title{
    color:rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.run-pr{
    font-size: 0.75rem;
    color: #FFFFFF80;
    line-height: 1.2;
    width: 400px;
    margin-bottom: 20px;
}
#resize{
    width: 30%;
}
.run-img{
    width: 40%;
}
.img{
    border-radius: 20px;
    width: 100%;
}

/* membership */
.membership-section{
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 90px;
}
.member-title{
    font-size: 2.5rem;
    font-weight: bolder;
}
.member-pr{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 60px;
}
.Membership-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.membership-option{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.pf-black-card {
    background: linear-gradient(135deg, #4e0d89, #000);
    color: #fff;
}
.classic {
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
}
.price{
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
}
.card-name{
    font-size: 1.5rem;
    font-weight: 700;
}
.description{
    font-size: 1.1rem;
    font-weight: 400;
    /* margin: 15px 0; */
    margin-bottom: 30px;
}
.bathon{
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    border-radius: 5px;
}
/* BMI */
.BMI{
    display: flex;
    flex-direction: column;
}
.Title-container{
    text-align: center;
    margin-top: 90px;
}
.title-contain{
    margin-top: 0;
}
.bmi-title{
    color: rgba(255, 255, 255);
    font-size: 2rem;
    font-weight: bolder;
}
.bmi-pr{
    color:rgba(255, 255, 255, 0.5);
    font-weight: 400;
}
.bmi-scale{
    color: #fff;
    background-color:#ffffff1A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 80px 100px 80px 100px;
}
.bmi-chart h1{
    margin: 0;
    font-size: 1.5rem;
    padding: 40px 0px 20px 0px;
    font-weight: 700;
}
.table{
    margin: 0 auto;
    border: 1px solid #FFFFFF80;
    border-collapse: collapse;
    text-align: start;
}
th {
    font-size: 1.2rem;
    color: #ffffff;
}
td {
    font-size: 1rem;
    color: #FFFFFF80;
    }
td, th {
    padding: 15px 30px 15px 20px;
    text-align: start;
    border: 1px solid #FFFFFF80;
    border-collapse: collapse;
}
.calculator{
    text-align: start;
}
.title{
    font-size: 1.7rem;
    font-weight: 700;
    padding: 40px 0px 5px 0px;
    margin-bottom: 5px;
}
.calc-description{
    font-size: 1rem;
    line-height: 1.5;
    color: #FFFFFF80;
    width: 500px;
    margin-bottom: 8px;
}
.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.input-field {
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #555;
    color: #fff;
    flex: 1;
}

.full-width {
    width: 100%;
}

.button {
    width: 40%;
    padding: 12px;
    border: none;
    border-radius: 22px;
    background-color: #e24e42;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    margin-top: 15px;
}
/* meet our time */

.Meet-our-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.traine-des{
    text-align: center;
    margin-bottom: 20px;
    color: rgba(255, 255, 255);
    margin-top: 80px;
}
.team-title{
    font-size: 2rem;
    font-weight: bolder;
}
.team-pr{
    color:rgba(255, 255, 255, 0.5);
    font-weight: 400;
}
.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    width: 100%;
}
.team-member {
    background-color: #3030308A;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    height: 300px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
}
.team-member-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
}
.team-member-info h4{
    margin: 0;
}
.team-member-info p{
    margin: 0;
    font-size: 0.75rem;
}
.team-member.jerome {
    background-image: url('/images/trainer1.png');
}
.team-member.cameron {
    background-image: url('/images/trainer2.png');
}
.team-member.darrell {
    background-image: url('/images/trainer3.png');
}
.team-member.dianne {
    background-image: url('/images/trainer4.png');
}
.team-member.cody {
    background-image: url('/images/trainer5.png');
}
.team-member.theresa {
    background-image: url('/images/trainer6.png');
}
@media screen and (max-width:576px){
    .menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color:  darkgray;
    }
    .nav-lists {
        display: none;
        flex-direction: column;
        /* position: relative; */
    }
    #menu-toggle:checked ~ .nav-lists {
        display: flex;
    }
    .banner{
        flex-direction: column;
    }
    .Habits, .habit-container{
        flex-direction: column;
        max-width: 600px;
    }
    .mile-run {
        flex-direction: column;
        padding:20px 0px;
        width: 400px;
    }
    .run-img{
        width: 80%;

    }
    .run-pr{
        font-size: 0.65rem;
        width: 100%;
    }
    #resize{
        margin-bottom: 20px;
        padding: 10px 15px;
        width:70%;
    }
    .Membership-container{
        flex-direction: column;
        align-items: center;
    }
    .bmi-scale {
        flex-direction: column;
        gap: 20px;
    }
    .bmi-chart, .calculator {
        flex: 1 1 100%;
    }
    .input-group {
        flex-direction: column;
    }
    .team-grid {
        grid-template-columns: 1fr; 
        gap: 10px;
    }
    .team-member {
        height: 250px;
        padding: 25px 30px 25px 30px;
        width: 60%;
    }
}